.detailloading {
	font-family: 'Black Ops One';
	position: relative;
	display: inline-block;
	width: 70%;
	color: #2ce27b;
	font-size: 300%;
	left: 30%;
}

.reviewlists {
        position: relative;
        display: block;
        font-family: 'itim';
        font-family: 'Rajdhani';
	font-size: 100%;
	margin-bottom: 15px;

}

.revieworder {
        position: relative;
        display: inline-block;
}



.detailreviewcontent {
	font-family: 'Gugi', cursive;
}

.detailreviewtitle {
	font-family: 'Black Ops One', cursive;
	font-size: 200%;
}

.detailreview {
	position: relative;
	display: inline-block;
	width: 90%;
	margin: 5%;
	color: #2C2E7B;
}


.review {
	margin-top: 70px;
	position: relative;
	display: inline-block;
	width: 60%;
	left: 40%;
	color: #049303;
	font-family: 'Itim';
	font-size: 300%;
}

.detaildescribeone {
	position: relative;
	display: block;
	font-family: 'Space Mono';
	font-size: 60%;
	left: 5%;
}

.detaildescription {
	font-size: 150%;
	font-family: 'Tilt Prism';
	position: relative;
	display: inline-block;
	justify-content: center;
	left: 15%;
	width: 50%;
	color: #4444ff;
	
}

.detailadd {
	position: relative;
	display: inline-block;
	margin-top : 5%;
	text-align: center;
	justify-content: center;
	margin-left: 40%;
	padding: 10px;
	background-color: #2C2E7B;
	background-color: #14cc60;
	color: #ffffff;
	border-radius: 25px 25px 25px 25px;
	font-family: 'Bellota';
}
.detailadd:hover {
	background-color: #FFA818;
	transition-property: background-color;
	transition-duration: 0.4s;
}

.detailinfo {
	position: relative;
	display: inline-block;
	width: 50%;
}

.detailtitle {
	position: relative;
	display: inline-block;
	width: 100%;
	font-family: 'Chakra Petch', sans-serif;
	text-align: center;
	font-size: 300%;
	color: #222222;
}

.productdetail {
	position: relative;
	display: inline-block;
	width: 100%;
	color: #888888;
}
.detailimage {
	position: relative;
	display: inline-block;
	width: 50%;
	top: 0px;
	left: 0%;
	max-height: 640px;
}
.detailprice {
	position: relative;
	display: block;
	font-family: 'Gugi', cursive;
	font-family: 'Space Mono';
	left: 15%;
	width: 50%;
	color: #ff8888;
	color: #4444ff;
}
.detailcolor {
	position: relative;
	display: block;
	left: 15%;
	width: 50%;
	font-family: 'Black Ops One', cursive;
	font-family: 'Space Mono';
	color: #88ff88;
	color: #4444ff;
}

@media (max-width: 765px) {
	.detailinfo {
		width: 100%;
	}
	.detailimage {
		width: 100%;
		top: 0px;
	}
}
@media (max-width: 448px) {
	.detailadd {
		margin-left: 30%;
	}
	.review {
		left: 30%;
	}
	.detailreview {
		margin: 0%;
		left: 0%;
	}
	.detailreviewtitle {
		position: relative;
		display: inline-block;
		margin-left: -350%;
		text-align: left;
	}
	.reviewbutton {
		width: 70px;
	}
}
