.logoutButton {
	top: -160px;
	left: 86%;
	display: inline-block;
	position: relative;
	width: 20px;	
	z-index: 4;
}
.logoutButton:hover {
	cursor: pointer;
}

.dropSearch {
	display: block;
	position: absolute;
	width: 90%;
	left: 5%;
	top: 90px;
	border: solid;
	border-width: 0.00001px;
	border-radius: 10px 10px 10px 10px;
	margin-right: 5px;
	padding: 5px 5px 5px 5px;
	font-family: 'Bellota', cursive;
	font-size: 12px;
	background-color: #f5f5f5;
	color: #000000;
	font-weight: 999;
	border: none;
	outline: none;
}

.searchIconSmall {
	display: none;
}



.flag {
	top: -155px;
	left: 84%;
	display: inline-block;
	position: relative;
	width: 20px;
}

.flag:hover {
	cursor: pointer;
}


.loginButton {
	display: inline-block;
	position: relative;
	top: -169px;
	left: 85%;
	color: #575757;
}

.searchIcon {
	display: inline-block;
	position: relative;
	top: -168px;
	left: 120%;
}

.searchIcon:hover {
	cursor: pointer;
}

.promotion {
	display: flex;
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #2c2e7b;
	justify-content: center;
	align-items: center;
	font-family: 'Comic Neue';
	color: #ffffff;
	z-index: -1000;
}

a {
	text-decoration: none;
}

.whitelink {
	color: #ffffff;
}
.whitelink:hover {
	color: #ffffff
}
.upload {
	position: relative;
	display: inline-block;
	background-color: #108a00;
	background-color: #ffffff;
	background-color: #2C2E7B;
	width: 75px;
	height: 68px;
	margin-bottom: 20px;
	padding: 10px;
	margin-right: 10px;
	border: solid;
	border-width: 0.00001px;
	border-radius: 15px 15px 15px 15px;
	font-family: 'Chakra Petch';
	color: #aaaaaa;
}

.upload:hover {
	background-color: #14a800;
	color: #ffffff;

}

.searchbutton {
	width: 200px;;
}

.searchbuttonlink {
	display: inline-block;
	display: none;
}

.searchlink {
	display: none;
}


.selectoptions {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	display: none;
}

.headersorter {
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
	border: none;
	font-family: 'Bellota', cursive;
	cursor: pointer;
}

.headersortbox {
	position: relative;
	display: inline-block;
	left: 10%;
}

.dropdowns {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	left: 10%;
	top: -80px;
}
.dropdownsfixed {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0%;
	width: 100%;
	color: #000000;
	z-index: 999;
	font-weight: 999;
}
.header {
	position: relative;
	display: inline-block;
	width: 100%;
	color: #000000;
	background-color: #ffffff;
	height: 35px;
}
.headermedia {
	position: relative;
	display: inline;
}
.headeritems {
	position: relative;
	display: inline-block;
	display: none;
	right: 0%;
	margin-right: 2%;
}

.headerlink {
	position: relative;
}
.headerimages {
	position: relative;
	top: 5px;
	right: 1%;
	width: 25px;
}

.headerphone {
	left: 15%;
	position: relative;
	display: inline-block;
	font-size: 80%;
	font-family: 'Bellota', cursive;
	margin-right: 2%;
	color: #000000;
	background-color: #ffffff;
	border: none;
}

.headerphone:hover {
	cursor: pointer;
}

.headerdiv {
	display: inline-block;
	position: relative;
	top: -155px;
	left: 80%;

}

.headergmail {
	left: 100%;
	position: relative;
	display: inline-block;
	font-family: 'Bellota', cursive;
	font-size: 90%;
	width: 55%;
	color: #000000;
	background-color: #ffffff;
	border: none;
	text-decoration: none;
}
.headerphoneimage {
	display: inline-block;
	width: 20px;
	margin-right: 5px;
	background-color: none;
}

.headergmailimage {
	display: inline-block;
	width: 20px;
	margin-right: 5px;
}

.navigationbar {
	display: inline-block;
	width: 100%;
}

.logo {
	display: inline-block;
	position: relative;
	width: 100px;
	left: 1%;
	top: -5px;
}
.Search {
	display: inline-block;
	position: relative;
	right: 0%;
	font-family: 'Bellota', cursive;
	left: 80%;
	width: 10%;
}
.searchbar {
	display: inline-block;
	position: relative;
	width: 170px;
	border: solid;
	border-width: 0.00001px;
	border-radius: 10px 10px 10px 10px;
	margin-right: 5px;
	padding: 5px 5px 5px 5px;
	font-family: 'Bellota', cursive;
	font-size: 12px;
	background-color: #f5f5f5;
	color: #000000;
	font-weight: 999;
	border: none;
	outline: none;
	top: -145px;
}
.searchbar2 {
	width: 120%;
	border: solid;
	border-width: 0.00001px;
	border-radius: 10px 10px 10px 10px;
	margin-right: 5px;
	padding: 15px 15px 15px 15px;
	font-family: 'Bellota', cursive;
	font-size: 100%;
	margin-left: 20%;
}

.searchimage {
	display: inline-block;
	width: 25%;
	top: 6px;
	position: relative;
}

@media (max-width: 1200px) {
	.searchbar2 {
		display: none;
	}
}

@media (max-width: 1024px) {
	.dropdowns {
		display: none;
	}
	.dropdownsfixed {
		display: none;
	}
	.linkLogo {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		z-index: 1;
		margin-bottom: 85px;
		width: 100%;
	}
	.searchbar {
		display: none;
	}
	.searchIcon {
		display: none;
	}
	.searchIconSmall {
		display: inline-block;
		position: relative;
		display: inline-block;
		top: -168px;
		left: 120%;
		z-index: 4;
	}
	.searchIconSmall:hover {
		cursor: pointer;
	}
	.flag {
		left: 83%;
		top: -175px;
	}
	.headerphone {
		top: -20px;
		z-index: 2;
	}
	.headergmail {
		top: -20px;
		left: 60%;
		z-index: 2;
	}
	.loginButton {
		left: 86%;
		z-index: 2;
	}
	.searchIcon {
		left: 100%;
		z-index: 2;
	}
	.logoutButton {
		top: -179px;
		left: 85%;
	}
}

@media (max-width: 856px) {
	.searchbuttonlink {
		display: none;
	}
	.searchlink {
		display: inline-block;
		display: none;
	}
	.searchbar {
		display: inline-block;
		display: none;
		margin-top: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-right: 0px;
		padding-right: 0px;
	}
	
	.searchimage {
		position: absolute;
		top: -70px;
		width: 30px;
		right: 0%;
	}
	.logoutButton {
		left: 85%;
	}
}

@media(max-width: 740px) {
	.logoutButton {
		top: -179px;
		left: 83%;
	}
}

@media(max-width: 599px) {
	.header1 {
		height: 80px;
		width: 80%;
		border-radius: 10px 10px 10px 10px;
		margin-right: 0px;
	}
	.headerphone {
		display: none;
		left: 40%;
	}
	.searchimage1 {
		width: 70px;
		top: -90px;
		right: -14%;
		margin-left: 0px;
	}
	.headergmail {
		left: 20%;
		display: block;
		display: none;
	}
	.headermedia1 {
		left: 25%;
		display: block;
	}
	.headerimages {
		margin-right: 25px;
	}
	.logo1 {
		left: 2%;
		top: -70px;
		width: 50px;
		border-radius: 75%;
	}
	.searchbar {
		left: -40px;
		margin-left: -100px;
		padding-left: 0px;
		width: 140%;
	}
	.flag {
		left: 87%;
	}
	.logoutButton {
		top: -179px;
		left: 91%;
	}
	.searchIconSmall {
		left: 79%;
	}
}

@media (max-width: 560px) {
	.logoutButton1 {
		left: 77%;
	}
}

@media (max-width: 500px) {
	.headerphone {
		left: -40%;
	}
	.headergmail {
		left: -40%;
	}
	.flag {
		left: 77%;
	}
	.logoutButton {
		left: 85%;
	}
	.searchIconSmall {
		left: -20%;
		z-index: 4;
	}
	.loginButton {
		left: 80%;
	}
}

@media(max--width: 448px) {
	.searchimage {
		top: -120px;
		right: 0%;
		width: 20%;
		z-index: 999;
	}
	.header {
		left: 0px;
		height: 120px;
		width: 100%;
	}
	.headergmail {
		left: 30%;
	}
	.headermedia {
		display: inline-block;
	}
	.headerphone {
		display: inline-block;
	}
	.headerimages {
		position: relative;
		display: inline-block;
		left: 40%;
		margin-right: 5px;
	}
	.headergmailimage {
		margin-right: 0px;
		width: 15px;
	}
	.headerphoneimage {
		margin-right: 0px;
	}
	.headerphone {
		margin-right: 0px;
	}
	.headerimages {
		right: 0px;
	}
	.headeritems {
		margin-right: 0px;
	}
	.logo {
		top: -100px;
	}
}


@media(max-width: 380px) {
	.logoutButton1 {
		left: 52%;
	}
	.flag1 {
		left: 68%;
	}
}

@media(max-width: 300px) {
	.logoutButton {
		left: 80%;
	}
	.loginButton {

	}
}



@media(max-width: 270px) {
	.headergmailimage {
		display: none;
	}
	.logo {
		left: 0%;
	}
	.searchimage {
		right: -2%;
		top: -120px;
	}
	.searchbar {
		position: relative;
		display: inline-block;
		left: 20%;
		margin-left: -100px;
	}
}

@media(max-width: 232px) {
	.searchimage {
		right: -50%;
		top: -160px;
	}
	.searchbar {
		margin-left: 0px;
	}
}
