.checkbox {
		position: relative;
			display: block;
				width: 30px;
					height: 30px;
						left: 20%;
					}

					.previewImage {
							position: relative;
								display: inline-block;
									left: 20%;
										width: 40%;
											margin: 10%;

										}

										.uploaddeletebutton {
												position: relative;
													display: inline-block;
														background-color: #108a00;
															background-color: #ffffff;
																width: 75px;
																	padding: 10px;
																		left: 50%;
																			border-width: 0.00001px;
																				border-radius: 15px 15px 15px 15px;
																			}
																			.uploaddeletebutton:hover {
																					background-color: #ff0000;
																						color: #ffffff;
																					}

																					.uploadupdatebutton {
																							position: relative;
																								display: inline-block;
																									background-color: #108a00;
																										background-color: #ffffff;
																											width: 75px;
																												padding: 10px;
																													left: 30%;
																														border: solid;
																															border-width: 0.00001px;
																																border-radius: 15px 15px 15px 15px;

																															}

																															.uploadupdatebutton:hover {
																																	background-color: #14a800;
																																		color: #ffffff;

																																	}


																																	.uploadbutton {
																																			position: relative;
																																				display: inline-block;
																																					background-color: #108a00;
																																						background-color: #ffffff;
																																							display: block;
																																								width: 75px;
																																									padding: 10px;
																																										left: 50%;
																																											border: solid;
																																												border-width: 0.00001px;
																																													border-radius: 15px 15px 15px 15px;
																																												}
																																												.uploadbutton:hover {
																																														background-color: #14a800;
																																															color: #ffffff;
																																														}

																																														.titleinput {
																																																position: relative;
																																																	display: inline-block;
																																																		left: 20%;
																																																			width: 70%;
																																																				border-width: 0.00000000001px;
																																																					margin-bottom: 5%;
																																																						padding-left: 10px;
																																																					}
																																																					.titleinput:hover {
																																																					}
																																																					.labeltitle {
																																																							position: relative;
																																																								display: inline-block;
																																																									width: 90%;
																																																								}

																																																								.uploadform {
																																																										position: relative;
																																																											font-family: 'Chakra Petch';
																																																												display: block;
																																																											}

																																																											.uploadbody {
																																																													position: relative;
																																																														display: inline-block;
																																																															border-radius: 5px 5px 5px 5px;
																																																																border: solid;
																																																																	width: 90%;
																																																																		margin: 5%;
																																																																			border-width: 0.0001px;
																																																																				padding: 25px;
																																																																					color: #108a00;
																																																																						margin-top: 15%;
																																																																					}

																																																																					.uploadtitle {
																																																																							position: relative;
																																																																								display: inline-block;
																																																																									width: 100%;
																																																																										font-family: 'Chakra Petch';
																																																																											font-family: 'Black Ops One';
																																																																												font-size: 300%;

																																																																											}



																																																																											@media (max-width: 280px) {
																																																																													.uploadtitle {
																																																																																font-size: 150%;
																																																																																	}
																																																																																}
